.storeMetMainDiv {
    gap: 1.5rem;
    width: 100%;
    height: 30%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.storeMetCards {
    flex-basis: 33%;
    flex: 1;
    height: 100%;
    overflow-y: scroll;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 0.8rem;
    gap: 1rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.storeMetCards::-webkit-scrollbar {
    display: none;
}

.storeMetCards h2 {
    font-size: 1.5vw;
}

.storeMetCards p {
    font-size: 1vw;
}

.storeMetCardTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.storeMetCardIcon {
    color: blue;
    font-size: 20px;
}

.percentage {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 650px) and (min-width: 200px) {
    .storeMetMainDiv {
        height: 25%;
    }

    .storeMetCardIcon {
        display: none;
    }

    .storeMetCards p {
        font-size: 2.6vw;
    }

    .storeMetCards h2 {
        font-size: 2.65vw;
    }

    .storeMetCards {
        margin-top: 1.5vh;
        gap: 0.5rem;
        align-items: start;
    }
}

@media (max-width: 900px) and (min-width: 650px) {
    .storeMetMainDiv {
        height: 20%;
    }

    .storeMetCards p {
        font-size: 2vw;
    }

    .storeMetCards h2 {
        font-size: 2.2vw;
    }

    .storeMetCards {
        margin-top: 1.5vh;
        gap: 0.5rem;
    }
}